// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.container-fluid {
  padding: 0px !important;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
main {
  height: 100%;
}

.app,
.app-body,
.container-fluid,
.container,
.main {
  height: 100%;
  padding: 0;
}

.breadcrumb-fixed {
  .main {
    $breadcrumb-height: 2.7 * $breadcrumb-padding-y + $font-size-base;
    padding-top: $breadcrumb-height;
  }

  .breadcrumb {
    position: fixed;
    top: $navbar-height;
    right: 0;
    left: 0;
    z-index: $zindex-sticky - 3;
  }
}
